[Unit]
Description=(LAN) VPTP Can Log Server
After=network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/canlogserver any
Restart=on-failure

[Install]
WantedBy=multi-user.target